body {
  box-sizing: border-box;
  line-height: 1.6;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

header {
  font-family: inherit;
  font-weight: 700;
  font-size: 2rem !important;
}

li {
  list-style: none !important;
}
