<div class="category page-section">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6 my-3 p-0 category-container">
        <a href="" name="bags"
          ><img
            src="/bags1.jpg"
            onmouseover="this.src='/bags2.jpg'"
            onmouseout="this.src='/bags1.jpg'"
            alt=""
        /></a>

        <div class="overlay"></div>
        <button class="btn-shopnow">Add to cart</button>
      </div>

      <div class="col-md-3 col-sm-6 my-3 p-0 category-container">
        <a href="" name="bags"
          ><img
            src="/bags2.jpg"
            alt=""
            onmouseover="this.src='/bags1.jpg'"
            onmouseout="this.src='/bags2.jpg'"
        /></a>

        <div class="overlay"></div>
        <button class="btn-shopnow">Add to cart</button>
      </div>
      <div class="col-md-3 col-sm-6 my-3 p-0 category-container">
        <a href="" name="bags"
          ><img
            src="/bags3.jpg"
            alt=""
            onmouseover="this.src='/bags4.jpg'"
            onmouseout="this.src='/bags3.jpg'"
        /></a>

        <div class="overlay"></div>
        <button class="btn-shopnow">Add to cart</button>
      </div>
      <!-- <div class="col-md-3 col-sm-6 my-3 p-0 category-container">
        <a href="" name="bags"><img src="/bags4.jpg" alt="" /></a>

        <div class="overlay"></div>
        <button class="btn-shopnow">Add to cart</button>
      </div> -->
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6 my-3 p-0 category-container">
        <a href="" name="shoes"
          ><img
            src="/shoes1.jpg"
            alt=""
            onmouseover="this.src='/shoes2.jpg'"
            onmouseout="this.src='/shoes1.jpg'"
        /></a>

        <div class="overlay"></div>
        <button class="btn-shopnow">Add to cart</button>
      </div>

      <div class="col-md-3 col-sm-6 my-3 p-0 category-container">
        <a href="" name="shoes"
          ><img
            src="/shoes2.jpg"
            onmouseover="this.src='/shoes1.jpg'"
            onmouseout="this.src='/shoes2.jpg'"
            alt=""
        /></a>

        <div class="overlay"></div>
        <button class="btn-shopnow">Add to cart</button>
      </div>
      <div class="col-md-3 col-sm-6 my-3 p-0 category-container">
        <a href="" name="shoes"
          ><img
            src="/shoes3.jpg"
            onmouseover="this.src='/shoes4.jpg'"
            onmouseout="this.src='/shoes3.jpg'"
            alt=""
        /></a>

        <div class="overlay"></div>
        <button class="btn-shopnow">Add to cart</button>
      </div>
      <!-- <div class="col-md-3 col-sm-6 my-3 p-0 category-container">
        <a href="" name="shoes"><img src="/shoes4.jpg" alt="" /></a>

        <div class="overlay"></div>
        <button class="btn-shopnow">Add to cart</button>
      </div> -->
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6 my-3 p-0 category-container">
        <a href="" name="tshirt"
          ><img
            src="/tshirt1.jpg"
            onmouseover="this.src='/tshirt2.jpg'"
            onmouseout="this.src='/tshirt1.jpg'"
            alt=""
        /></a>

        <div class="overlay"></div>
        <button class="btn-shopnow">Add to cart</button>
      </div>

      <div class="col-md-3 col-sm-6 my-3 p-0 category-container">
        <a href="" name="tshirt"
          ><img
            src="/tshirt2.jpg"
            alt=""
            onmouseover="this.src='/tshirt1.jpg'"
            onmouseout="this.src='/tshirt2.jpg'"
        /></a>

        <div class="overlay"></div>
        <button class="btn-shopnow">Add to cart</button>
      </div>
      <div class="col-md-3 col-sm-6 my-3 p-0 category-container">
        <a href="" name="tshirt"
          ><img
            src="/tshirt3.jpg"
            alt=""
            onmouseover="this.src='/tshirt2.jpg'"
            onmouseout="this.src='/tshirt3.jpg'"
        /></a>

        <div class="overlay"></div>
        <button class="btn-shopnow">Add to cart</button>
      </div>
      <!-- <div class="col-md-3 col-sm-6 my-3 p-0 category-container">
        <a href="" name="tshirt"><img src="/tshirt4.jpg" alt="" /></a>

        <div class="overlay"></div>
        <button class="btn-shopnow">Add to cart</button>
      </div> -->
    </div>
  </div>
</div>
