<div class="new-arrival page-section">
  <div class="new-arrival__left">
    <header class="new-arrival__title">NEW ARRIVALS</header>
    <p class="new-arrival__subtitle">Check our new today</p>
  </div>
  <div class="new-arrival__right">
    <ul>
      <a href="#first"> <li>HOODIES AND SWEATSHIRT</li></a>
      |
      <a href="#second"> <li>BLAZERS</li></a>
      |
      <a href="#first"> <li>DRESSES</li></a>
      |
      <a href="#second"> <li>COATS & JACKETS</li></a>
    </ul>
  </div>
</div>
