<div class="featured-product page-section">
  <div class="featured-slider newArrival">
   
      <div class="featured-slider__images">
        <a name="first"></a> <img src="/product-display-1.jpg" class="img-fluid front" alt="" /></a
        >

        <div class="overlay"></div>
        <button class="btn-shopnow">Add to cart</button>
      </div>

    <div class="featured-slider__images">
      <img src="/product-display-2.jpg" class="img-fluid" alt="" />
      <div class="overlay"></div>
      <button class="btn-shopnow">Add to cart</button>
    </div>
    <div class="featured-slider__images">
      <img src="/product-display-3.jpg" class="img-fluid" alt="" />
      <div class="overlay"></div>
      <button class="btn-shopnow">Add to cart</button>
    </div>
    <div class="featured-slider__images">
      <img src="/product-display-4.jpg" class="img-fluid" alt="" />
      <div class="overlay"></div>
      <button class="btn-shopnow">Add to cart</button>
    </div>
    <div class="featured-slider__images">
      <img src="/product-display-5.jpg" class="img-fluid" alt="" />
    </div>
    <div class="featured-slider__images">
      <img src="/product-display-6.jpg" class="img-fluid" alt="" />
    </div>
  </div>
  <div class="featured-slider-btn">
    <span class="prevButton newPrevButton position-top"
      ><i class="fas fa-chevron-left"></i
    ></span>
    <span class="nextButton newButton position-top right-0"
      ><i class="fas fa-chevron-right"></i
    ></span>
  </div>
</div>
