<div class="swiper-container product-carousel page-section">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img
        src="/2nd-slider-2.jpg"
        onmouseover="this.src='/2nd-slider-3.jpg'"
        onmouseout="this.src='/2nd-slider-2.jpg'"
        alt=""
        class="back"
      />
      <div class="product-details">
        <h4>Lorem ipsum dolor sit amet.</h4>
        <h4>$49</h4>
        <button class="btn-shopnow">Buy Now</button>
      </div>
    </div>
    <div class="swiper-slide">
      <img
        src="/2nd-slider-3.jpg"
        alt=""
        onmouseover="this.src='/prod-display-1.jpg'"
        onmouseout="this.src='/2nd-slider-3.jpg'"
        class="back"
      />
      <div class="product-details my-2">
        <h4>Lorem ipsum dolor sit amet.</h4>
        <h4>$49</h4>
        <button class="btn-shopnow">Buy Now</button>
      </div>
    </div>
    <div class="swiper-slide">
      <img
        src="/prod-display-1.jpg"
        onmouseover="this.src='/prod-display-3jpg.jpg'"
        onmouseout="this.src='/prod-display-1.jpg'"
        alt=""
      />
      <div class="product-details my-2">
        <h4>Lorem ipsum dolor sit amet.</h4>
        <h4>$49</h4>
        <button class="btn-shopnow">Buy Now</button>
      </div>
    </div>
    <div class="swiper-slide">
      <img
        src="/product-displ-2.jpg"
        onmouseover="this.src='/2nd-slider-3.jpg'"
        onmouseout="this.src='/product-displ-2.jpg'"
        alt=""
      />
      <div class="product-details my-2">
        <h4>Lorem ipsum dolor sit amet.</h4>
        <h4>$49</h4>
        <button class="btn-shopnow">Buy Now</button>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="/prod-display-3jpg.jpg" alt="" />
      <div class="product-details my-2">
        <h4>Lorem ipsum dolor sit amet.</h4>
        <h4>$49</h4>
        <button class="btn-shopnow">Buy Now</button>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="/producr-display-4.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="/product-display-5.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="/product-display-6.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="/product-display-7.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="/product-display-8.jpg" alt="" />
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
