<div class="swiper-container second-carousel">
  <div class="swiper-container-before"></div>

  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <picture>
        <img src="/2nd-slider-1.jpg" alt="" srcset="" />
      </picture>
      <div class="swiper-slide__content">
        <div class="swiper-slide__content__category">Clothes</div>
        <div class="swiper-slide__content__title">
          <header>Business Casual</header>
        </div>
        <div class="swiper-slide__content__price">
          <i class="fas fa-rupee-sign"></i>

          999
        </div>
        <ul>
          <li>
            Height: .92" (23.3mm), Width: 15.35" (390mm)
          </li>
          <li>
            Depth: 10.20" (259mm), Weight: Non-Touch: 5.12lb
          </li>
        </ul>
        <button class="btn-shopnow">Select Options</button>
        <button class="btn-shopnow btn-shopnow--grey">Read-more</button>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-slide__image">
        <picture>
          <img src="/2nd-slider-2.jpg" alt="" srcset="" />
        </picture>
      </div>
      <div class="swiper-slide__content">
        <div class="swiper-slide__content__category">Clothes</div>
        <div class="swiper-slide__content__title">
          <header>Business Casual</header>
        </div>
        <div class="swiper-slide__content__price">
          <i class="fas fa-rupee-sign"></i>

          999
        </div>
        <ul>
          <li>
            Height: .92" (23.3mm), Width: 15.35" (390mm)
          </li>
          <li>
            Depth: 10.20" (259mm), Weight: Non-Touch: 5.12lb
          </li>
        </ul>
        <button class="btn-shopnow">Select Options</button>
        <button class="btn-shopnow btn-shopnow--grey">Read-more</button>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-slide__image">
        <picture>
          <img src="/2nd-slider-3.jpg" alt="" srcset="" />
        </picture>
      </div>
      <div class="swiper-slide__content">
        <div class="swiper-slide__content__category">Clothes</div>
        <div class="swiper-slide__content__title">
          <header>Business Casual</header>
        </div>
        <div class="swiper-slide__content__price">
          <i class="fas fa-rupee-sign"></i>

          999
        </div>
        <ul>
          <li>
            Height: .92" (23.3mm), Width: 15.35" (390mm)
          </li>
          <li>
            Depth: 10.20" (259mm), Weight: Non-Touch: 5.12lb
          </li>
        </ul>
        <button class="btn-shopnow">Select Options</button>
        <button class="btn-shopnow btn-shopnow--grey">Read-more</button>
      </div>
    </div>
    <div class="swiper-container-after"></div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>
