<div class="carousel page-section">
  <div class="carousel-slider">
    <div class="slider-one">
      <div class="slider-item">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6 col-sm-12 col-xs-12 img-div">
            <img src="/2nd-slider-1.jpg" class="img-fluid" alt="" />
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 slider-item__content">
            <h6 class="text-capitalize">
              <strong>Womens clothing</strong>
            </h6>
            <h2 class="text-capitalize">business casuals</h2>
            <p>$19.99</p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
              consectetur eligendi quam dolores sit. Deserunt, alias, vel soluta
              impedit ipsa officia labore adipisci magnam provident modi
              excepturi, iusto quas cupiditate!
            </p>
            <button class="btn-shopnow mt-4">
              Buy Now
            </button>
            <button class="btn-shopnow btn-shopnow--grey mt-4">
              Show More
            </button>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="row align-items-center mx-auto">
          <div class="col-md-6 col-sm-12">
            <img src="/2nd-slider-2.jpg" class="img-fluid" alt="" />
          </div>
          <div class="col-md-6 col-sm-12 slider-item__content">
            <h6 class="text-capitalize">
              <strong>Womens clothing</strong>
            </h6>
            <h2 class="text-capitalize">business casuals</h2>
            <p>$19.99</p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
              consectetur eligendi quam dolores sit. Deserunt, alias, vel soluta
              impedit ipsa officia labore adipisci magnam provident modi
              excepturi, iusto quas cupiditate!
            </p>
            <button class="btn-shopnow mt-4">
              Buy Now
            </button>
            <button class="btn-shopnow btn-shopnow--grey mt-4">
              Show More
            </button>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="row align-items-center mx-auto">
          <div class="col-md-6 col-sm-12">
            <img src="/2nd-slider-3.jpg" class="img-fluid" alt="" />
          </div>
          <div class="col-md-6 col-sm-12 slider-item__content">
            <h6 class="text-capitalize">
              <strong>Womens clothing</strong>
            </h6>
            <h2 class="text-capitalize">business casuals</h2>
            <p>$19.99</p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
              consectetur eligendi quam dolores sit. Deserunt, alias, vel soluta
              impedit ipsa officia labore adipisci magnam provident modi
              excepturi, iusto quas cupiditate!
            </p>
            <button class="btn-shopnow mt-4">
              Buy Now
            </button>
            <button class="btn-shopnow btn-shopnow--grey mt-4">
              Show More
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-btn">
      <span class="prev position-top"><i class="fas fa-chevron-left"></i></span>
      <span class="next position-top right-0"
        ><i class="fas fa-chevron-right"></i
      ></span>
    </div>
  </div>
</div>
