.btn-shopnow {
  background-color: $lightBlue;
  padding: 10px 20px;
  border: 0px;
  outline: none;
  color: $white;
  font-size: 1rem;
  font-weight: 300;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $black;
    color: $white;
  }
  &--grey {
    background-color: $lightGray;
    color: $black;
    border: 1px solid;
  }
  &--dark {
    background-color: $mainBlue;
    color: $white;
  }
}
